@use '../buttons';

.about {
  padding: 25px;
}

.pfp {
  border-radius: 20px;
}

.btns {
  display: flex;
  gap: 10px;

  position: absolute;
  left: 25px;
  bottom: 10px;
}

.btn {
  @include buttons.btnBorder;

  > a {
    text-decoration: none;
  }
}