@mixin btn {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 18px;
  transition: all 0.5s;
}

@mixin btnBorder {
  @include btn;
  box-shadow: rgb(240, 242, 248) 0px 0px 0px 2px;

  &:hover {
    box-shadow: rgb(240, 242, 248) 0px 0px 0px 4px;
  }
}