@use './colors';

@mixin btn {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 18px;
  transition: all 0.5s;
}

@mixin btnBorder {
  @include btn;
  background-color: colors.$white;

  > * {
    color: colors.$black!important;
  }

  box-shadow: rgba(100, 100, 100, 0.08) 0px 0px 0px 2px;

  &:hover {
    box-shadow: rgba(100, 100, 100, 0.08) 0px 0px 0px 4px;
  }
}