@use './colors';
@use './fonts';

body {
  font-family: fonts.$karla;
  background-color: colors.$bg;
  color: colors.$text;
  line-height: 1.4;
}

ul {
  list-style: none;
  padding: 0;
}

.drag {
  cursor: grab;
}

.react-grid-item.react-grid-placeholder {
  background: black!important;
  opacity: 0.025!important;
  border-radius: 25px;
}

.portfolioImg {
  width: 100%;
  object-fit: contain;
  overflow: hidden;
  border-radius: 25px;
}